.maincontacto{
    display:flex;
    justify-content:space-around;
    max-width: 100%;
    width: fit-content;
    margin: 0px;

    .mensajecontacto{
        display: flex;
        border-style: groove;
        border-color: #9eb7f1;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 1000px;
        justify-content: space-evenly;

        
    }

    .datoscontacto{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .datosymapa{
        display:flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        padding:0px;


    .ubicacioncontacto{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        
        .ubicaciontitulocontacto{
            text-align: center;
            color:#9eb7f1;
            font-weight: bolder;
            font-family: 'Indie Flower', cursive;
            padding-top:60px;
            max-width: 100%;

            .ubicacionmapacontacto{
                max-width: 100%;
                display:flex;
                justify-content: center;
                padding:20px;
                justify-content: center;}
          
           }
           .datosdecontactoredes{
            display: flex;
            flex-direction: row;
                        }

       }
    }
    
    }
