.paginaprincipal {
    .rowparatitulo {

        display: flex;
        justify-content: space-around;
        max-width: 100%;
        margin:0px;

        .titulomainindex {
            width: 1000px;
            padding-top: 125px;
            padding-bottom: 25px;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0px;
            animation: rubberBand;
            animation-iteration-count: calc(3);
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-delay: 1s;

            .tituloformatomain {
                text-align: center;
                color: #9db6f1;
                font-size: 100px;
                font-family: 'Rubik Puddles', cursive;
            }

        }

        .cuerpoprincipalindex {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .tarjetasdeproductos1 {
                width: 0px;
                padding-right: 50px;
                padding-bottom: 50px;
                width: fit-content;


            }

            .fotoscarrousel {
                width: 40%;

                .carrouseldeimagenes {
                    max-width: 100%;
                    padding-bottom: 30px;

                    .carousel-inner {
                        .imagenfiguraindex {
                            width: 100%;
                            height: 100%;
                        }

                        .imagenindumentariaindex {
                            width: 100%;
                            height: 100%;
                        }

                        .imagenpelucheindex {
                            width: 100%;
                            height: 100%;
                        }

                        .imagenlibreriaindex {
                            width: 100%;
                            height: 100%;
                        }

                        .imagentecnoindex {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .tarjetasdeproductos2 {
                width: 0px;
                padding-left: 50px;
                padding-bottom: 50px;
                width: fit-content;


            }

        }

    }


    .slidermarcas {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 100%;

        .slidermarcas2 {
            position: relative;
            left: 0px;
            width: 1500px;
            height: 50px;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            animation: bounce;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 3s;
            animation-delay: 2s;


            li {
                padding-left: 20px;


            }
        }


    }
}