@media screen and (max-width:1840px) {

    .paginaprincipal {
        .slidermarcas {
            display: none;
        }
    }
}

@media screen and (max-width:1824px) {

    .shoppingcartgif {
        animation-play-state: paused;

    }
}


@media screen and (max-width:1688px) {

    /* Nosotros */
    .cuerpoprincipalnosotros {
        width: 100%;

        .rowparatitulonos {
            display: flex;
            flex-direction: column;
            align-items: center;

            .nosotrostitulo {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 60px;
                padding-top: 152px;
            }

            .secciontarjetasnosotros {
                padding-left: 0px;
                padding-right: 0px;

                .nosotros {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    padding-top: 20px;
                    padding-left: 0px;
                    padding-right: 0px;

                    .tarjetasnosotros {
                        padding-left: 0px;
                        padding-right: 0px;
                        width: 450px;

                    }
                }
            }
        }
    }


    .ubicacion {
        max-width: 100%;

        .ubicaciontitulo {
            h2 {
                text-align: center;
                color: #9eb7f1;
                font-weight: bolder;
                font-family: 'Indie Flower', cursive;
                padding-top: 60px;
                max-width: 100%;

            }
        }

        .ubicacionmapa {
            max-width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px;
            justify-content: center;
        }
    }



    /* Contacto */

    .maincontacto {
        margin: 0px;
        max-width: 100vw;

        .contactotitulo {
            width: 60%;
        }

        .imagenymensajecontacto {
            display: flex;
            flex-direction: column;

            .mensajecontacto {
                display: flex;
                flex-direction: column;
                width: 70%;

            }
        }

        .datosymapa {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            padding-bottom: 50px;


        }

    }
}




@media screen and (max-width:1332px) {

    .searchbox {
        display: none;
    }

    .shoppingcartgif {
        position: relative;
        right: 0px;
    }

}


@media screen and (max-width:1158px) {

    /* Header */
    .header {
        display: flex;
        align-items: center;

        .headerrow {
            display: none;
        }

        .botonerahamburguesa1 {
            display: flex;
            flex-direction: row;
            align-items: center;

            .botonerahamburguesa3 {
                display: flex;
                flex-direction: row;
                align-items: center;

                .menuhamburguesa {
                    padding-top: 100px;

                    .menuhamburguesalista2 {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }

                }
            }

        }
    }

    /* Index */
    .paginaprincipal {
        .rowparatitulo {

            .cuerpoprincipalindex {
                display: flex;
                flex-direction: column;
                align-items: center;

                .fotoscarrousel {
                    width: 70vw;
                    order: -1;
                }

                .tarjetasdeproductos1 {
                    padding: 0px;
                }

                .tarjetasdeproductos2 {
                    padding-left: 0px;
                    padding-bottom: 30px
                }
            }

        }
    }


}



@media screen and (max-width:1100px) {




    /* Shop */

    .bodyshop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-content: center;

        .mainshop {
            .rowshop {
                .shoptitulo {
                    padding-top: 135px;

                    h1 {
                        font-size: 80px;
                    }
                }

                .shopimagenes {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .tecnologia {
                        .imagenshoptecnologia {
                            height: 100px;
                            width: 500px
                        }
                    }


                }
            }
        }
    }

}


@media screen and (max-width:828px) {

    /* Header */
    .shoppingcartgif {
        display: none;
    }

}

@media screen and (max-width:768px) {


    /* Footer */

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        max-width: 100%;
        height: fit-content;

        .listafooter {
            display: flex;
            flex-direction: column;

            li {
                font-size: 15px;
                padding: 5px;
            }
        }
    }

    /* Index */

    .paginaprincipal {
        .divindex {

            .rowparatitulo {

                .titulomainindex {
                    .tituloformatomain {
                        padding-top: 60px;
                        font-size: 80px;
                    }
                }

            }
        }

        .slidermarcas {
            display: none;
        }
    }


    /* Contacto */


    .maincontacto {
        .contactotitulo {
            padding-top: 200px;
        }
    }

    /* Carrito */

    .carritomain {

        .carritotitulo {
            padding-top: 150px;

        }


    }

}

@media screen and (max-width:650px) {
    /* Contacto */

    .maincontacto {
        .contactotitulo {
            h1 {
                font-size: 80px;
            }
        }

        .datosymapa {
            .ubicacioncontacto {
                .ubicacionmapacontacto {
                    .mapa {
                        width: 90%;
                    }
                }
            }
        }
    }

    /* Footer */


    .footercuerpo {
        .footerrow {
            .footer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 100%;
                height: fit-content;

                .navfooter {
                    .listafooter {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        font-size: 10px;
                        padding: 0px;

                        li {
                            font-size: 10px;
                            padding: 5px;
                        }
                    }
                }
            }

            .footerredes {
                img {
                    display: inline;
                    height: 30px;
                    width: 30px;
                    padding: 5px;
                }
            }

        }
    }

}


@media screen and (max-width:544px) {

    /* /* Nosotros */
    .cuerpoprincipalnosotros {

        .rowparatitulonos {

            .nosotrostitulo {
                padding-top: 152px;

                h1 {
                    font-size: 90%;
                }
            }

            .secciontarjetasnosotros {

                .nosotros {


                    .tarjetasnosotros {
                        width: 60%;

                        .cardnos {
                            width: 100%;

                            .card-body1 {
                                .cardtextnos {
                                    width: 100%;
                                }
                            }

                            .cardfooternosotros {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Contacto */

    .maincontacto {
        .contactotitulo {
            h1 {
                font-size: 50px;
            }
        }
    }

    .carritotitulo{
        h1{
            font-size: 70px;
        }
    }
}

@media screen and (max-width:428px) {

    .carritomain {
        .carritotitulo {
            display: flex;
            flex-direction: column;

        }
    }
}

@media screen and (max-width:428px) {

    /* Shop librería */
    .conjuntotarjetaslibreria {
        width: 80%;
    }

}


@media screen and (max-width:375px) {




    /* Shop */

    .bodyshop {
        .mainshop {
            .rowshop {
                .shopimagenes {

                    .figuras {

                        .imagenshopfiguras {
                            height: 200px;
                            width: 200px;
                        }
                    }

                    .peluches {

                        .imagenshoppeluches {
                            height: 100px;
                            width: 250px;
                        }
                    }

                    .indumentaria {


                        .imagenshopindumentaria {
                            height: 200px;
                            width: 200px;
                        }
                    }

                    .tecnologia {


                        .imagenshoptecnologia {
                            height: 200px;
                            width: 200px;
                        }
                    }

                    .libreria {
                        .imagenshoplibreria {
                            height: 100px;
                            width: 250px;
                        }
                    }


                    .tecnologia {
                        .imagenshoptecnologia {
                            height: 50px;
                            width: 250px
                        }
                    }


                }
            }
        }
    }

    /* Nosotros */

    .nosotrostitulo {

        h1 {
            font-size: 80%;
        }
    }

}

@media screen and (max-width:360px) {

    /* Contacto */

    .maincontacto {
        .contactotitulo {
            h1 {
                font-size: 40px;
            }
        }

        .datosymapa {
            .datoscontacto {
                p {
                    text-align: center;
                }

                .datosdecontactoredes {
                    display: flex;
                    flex-direction: column;

                }
            }
        }
    }

}

@media screen and (max-width:320px) {

    /* Header */

    .menuhamburguesa1 {
        display: contents;

        .menuhamburguesalista2 {
            padding: 0px;
        }
    }




    /* Index */


    .paginaprincipal {

        .rowparatitulo {
            margin: 0px;

            .titulomainindex {
                max-width: 100%;

                .tituloformatomain {
                    text-align: center;
                    padding-top: 120px;
                }
            }


            .cuerpoprincipalindex {
                padding: 0px;

                .fotoscarrousel {
                    width: 90%;
                }
            }

        }

        .tarjetasdeproductos {
            padding-bottom: 50px;

            .cardindex {
                max-width: 200px;
            }
        }
    }



    /* Carrito */

    .cuerpocarrito {
        .carritomain {

            .carritotitulo {

                .titulocarritoh1 {
                    font-size: 20px;


                }

            }

        }
    }


}