*{
    margin:0px;
    padding:0px;
}

body {background: #fffefe94;
}

/*Header*/
header{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(187,187,244,0.835171568627451) 55%, rgba(250,211,254,1) 100%);
    position: fixed;  
    width:100vw;
    height:120px;
    z-index: 99;
}

.nav{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-left: 100px;
    height: 120px;
}

.searchbox{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}


.menu li{ 
    font-size: 20px;
    padding:0 10px;
}

.menu li a{
    text-decoration: none;
}
.nav-link{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.nav-tabs{
    display: flex;
    align-items: flex-end
}

.logoheader{
    width:80px;
    height:100px;
    position:absolute;  
    animation-name:logoheader;
    animation:tada;
    animation-iteration-count:calc(5);
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
    padding-left: 15px;
    padding-top: 10px;
}
@keyframes carritocompras{
    0% {display:none;}
 25% {right:-300px;}
 50% {right: -400px;}
 75% {right: -500px;}
100% {right: -600px;}
}

.shoppingcartgif{
position:relative;
right:-600px;
    width:90px;
    height:70px;
    transform: rotateY(180deg);
    animation:fadeOut;
    animation-name:carritocompras;
    animation-iteration-count:calc(1);
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-delay: 1s;
}


/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(187,187,244,0.835171568627451) 55%, rgba(250,211,254,1) 100%); 
    width: 100vw;
    height: 10vw;
}

footer img {
    height: 30px;    
    width: 30px;
}

footer p{ 
    display:inline;
    padding:10px;
}

footer li a {
    text-decoration: none;
}

.listafooter{
list-style-type: none;
font-size: large;
font-family: 'Indie Flower', cursive;
font-weight: bold;
display:flex;
flex-direction: row;
}

.listafooter li{
    padding-left: 25px;
}

footer div{
    height:32px;
    width: 170px;
   
}

.footerlogo {
    height: 80px;
    width: 70px;
    padding-left: 10px;
    
}

/* Index */

.titulomainindex h1 {
    text-align: center;
    color:#9eb7f1 ;
    font-size: 100px;
    font-family:'Rubik Puddles', cursive;
}

.titulomainindex{
    width:1000px;
    padding-top:125px;
    padding-bottom:25px;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    animation:rubberBand;
    animation-iteration-count:calc(3);
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
}

.rowparatitulo{
    display:flex;
    justify-content:space-around;
}

.cuerpoprincipalindex{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.imagenfiguraindex{
    height:500px;
    width:450px;
    border-radius: 5px;
    }

.imagenindumentariaindex{
    height:500px;
    width:450px;
    border-radius: 5px;
    }   

.imagenpelucheindex{
        height:500px;
        width:450px;
        border-radius: 5px; 
    }

.imagentecnoindex{
    height:500px;
    width:450px;
    border-radius: 5px;
}

.imagenlibreriaindex{
    height:500px;
    width:450px;
    border-radius: 5px;
}

.tarjetasdeproductos{
    width: 0px;
    padding-bottom:50px;
    padding-left: 30px;
}

.carrouseldeimagenes{
    height: 700px;
    width: 650px;
    padding-bottom:30px;
}
.carousel-item{
    width: 100%;
    height: 100%;
  }


/* La experiencia */

.laexperiencia h1{
    text-align: center;
    color:#000000 ;
    font-size: 100px;
    padding-top:152px;
    font-family: cursive;
}
.laexperiencia h2{
    text-align: center;
    color:#000000 ;
    font-size: 50px;
    font-family: cursive;
}
.fotoinfolocal img{
    height: 500px;
    width: 600px;
    border-radius: 5px;
    position: relative;
    left:250px;
    padding-top: 20px;
    padding-bottom:20px;
}

.fotoinfolocal p{
    position: absolute;
    top:570px;
    right:250px;
    height: 500px;
    width: 600px;
}

/* Shop */

.shoptitulo{
    text-align: center;
    font-family: cursive;
    position: relative;
    top:120px;
    font-size: 100px;

}

.titulocategoriashop {
    font-family: cursive;
    text-align: center;
}

.bodyshop{
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas:
    "navegacion"
    "shopimagenes"
    "footer";
    align-content: center;
}

.header{
    grid-area:navegacion
}

.footer{
    grid-area:footer
 }

.shopimagenes{
    grid-area:shopimagenes;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(5, 250px);
    column-gap: 10px;
    row-gap: 10px;
    padding: 100px 0px;
    justify-content: center;
    align-content:start;
    grid-template-areas: 
    "figuras figuras peluches peluches"
    "figuras figuras indumentaria indumentaria"
    "libreria libreria indumentaria indumentaria"
    "tecnologia tecnologia tecnologia tecnologia";
}

.figuras{
    grid-area:figuras;
    
}

.figuras img{
    height: 500px;
    width: 500px;
}

.peluches{
    grid-area:peluches;
}

.peluches img{
    height: 240px;
    width: 500px;
}

.indumentaria{
    grid-area:indumentaria;
}

.indumentaria img{
    height: 500px;
    width: 500px;
}
.tecnologia{
    grid-area: tecnologia;
}

.tecnologia img{
    height: 250px;
    width: 1025px;
}

.libreria{
    grid-area:libreria;
}

.libreria img{
    height: 240px;
    width: 500px;
}



/* Nosotros */

.nosotrostitulo h1{
    padding-top:152px;
    text-align: center;
    color:#9eb7f1 ;
    font-size: 100px;
    font-family:'Rubik Puddles', cursive;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    animation:rubberBand;
    animation-iteration-count:calc(3);
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
}

.rowparatitulonos{
    display:flex;
    justify-content:space-around;
}

.nosotros{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left:50px;
    padding-top:20px;  
}
.rowparatitulo{
    display:flex;
    justify-content:space-around;
}

    .cardimgtopnosotros{
        height:150px;
        width:170px;
        margin:0px;
        display: flex;
    align-self: center;
    }

    .cardimgtopnosotros3{
        height:170px;
        width:150px;
    }

    .cardnos{
        background-image: url(../multimedia/Nosotros/FondoDeTarjetasNosotros.png);
        border-style:groove;
        border-color: rgba(136, 136, 252, 0.541);
        width:450px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

/* .tarjetasnosotros{
    height: 321px;
    width: 450px;
    transition:2s;
    }

.tarjetasnosotros:hover{
    height: 350px;
    width: 500px;
} */

    .card-body1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
.cardfooternosotros{
    width: 450px;
    background-color: #9eb7f154;
}

.cardtextnos{
    text-align: center;
}
.ubicacion{
    display:flex;
    align-items: center;
    padding:20px;
    justify-content: center;
}    
.ubicaciontitulo {
    text-align: center;
    color:#9eb7f1;
    font-weight: bolder;
    font-family: 'Indie Flower', cursive;
    padding-top:60px;
}


/* Carrito */

.tucarrito{
    padding-top: 250px;
    padding-bottom: 50px;
    
}
@media screen and (max-width:768px) {

    /* Header */

    .header{
        position: fixed;  
        width:100vw;
        z-index: 99;
        grid-area: navegacion;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    
    .menuheader li{
        font-size: 15px;
    }

    .searchbox{
        display:none;
    }

    .shoppingcartgif{
        display:none;
    }

    /* Footer */

    .footer{
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        width: 100vw;
        height: 15vw;
    }
    
    .footer li{
        font-size: 15px;
        padding:5px;
    }

    /* Index */
    
.titulomainindex h1{
    font-size: 60px;
    padding-top:50px;
}

.carrouseldeimagenes{
    display: flex;
    width: 100%;
    height: 100%;
    margin:0px;
    padding-bottom:5px;
}


    .imagenfiguraindex{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        }
    
    .imagenindumentariaindex{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        }   
    
    .imagenpelucheindex{
        width: 100%;
        height: 100%;
        border-radius: 5px; 
        }
    
    .imagentecnoindex{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    .imagenlibreriaindex{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

.cuerpoprincipalindex{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tarjetasdeproductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    padding-left:0px;
    width:50px;
}

.cardindex{
    display: flex;
    align-items: center;
}

.cardbodyindex{
    text-align: center;
}

    /* Shop */
    

    .bodyshop{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start; 
        align-content:center;
    }

    .shopimagenes{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

.shopimagenes p{
    font-size: 50px;
    text-align: center;
}
.tecnologia img{
    height: 250px;
    width: 500px;
}

.shoptitulo{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 80px;
    padding-top:80px;
    }

/* Nosotros */
.nosotrostitulo h1{
    text-align: center;
    font-size: 60px;
    padding-top:152px;
}

.nosotros{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding-top:20px;
    padding-left:0px;
}

/* .tarjetasnosotros{
    transition:none;
}
 */
.tarjetasnotros:hover{
    height:321px;
    width: 450px;
}
    .cardimgtopnosotros{
        height:150px;
        width:170px;
    }

    .cardimgtopnosotros3{
        height:170px;
        width:150px;
    }

    .cardnos{
        display: flex;
        width:400px;
        justify-content: flex-end;
        align-items: center;
    }
    .card-body1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tarjetasnosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardfooternosotros{
        width: 100%;
    }


.ubicacion{
    display:flex;
    align-items: center;
    padding:20px;
    justify-content: center;
}    
.ubicaciontitulo {
    text-align: center;
    font-family: cursive;
    padding-top:60px;
}
}
@media screen and (max-width:320px) {
/* Header */

.header{
    position: fixed;
    height: 170px;  
    width:100vw;
    z-index: 99;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
  }

.menuheader ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex;
    height: 170px;
}
.menuheader li{
     font-size: 11px;
}


.searchbox{
    display: none;
}

.shoppingcartgif{
    display:none;
}
/* Footer */



.footer{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content:space-between;
    align-items:center;
    width: 100vw;
    height: 60vw;
}

footer img {
    height: 30px;    
    width: 30px;
    padding:5px;
}

.footerredes{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.listafooter{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    font-size:10px;
}

.footer li{
    font-size: 10px;
    padding:5px;
}

/* Index */
    
.titulomainindex h1 {
    text-align: center;
    font-size: 45px;
    padding-top:80px;
}

.paginaprincipal{ 
display:flex;
flex-direction:column;
}


.carrouseldeimagenes{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;   
    justify-content: center;
    padding-bottom:10px;
    height:300px;
}

.imagenfiguraindex{
    height:90px;
    width:250px;
    border-radius: 5px;
    }

.imagenindumentariaindex{
    height:90px;
    width:250px;
    border-radius: 5px;
    }   

.imagenpelucheindex{
        height:90px;
        width:250px;
        border-radius: 5px; 
    }

.imagentecnoindex{
    height:90px;
    width:250px;
    border-radius: 5px;
}

.imagenlibreriaindex{
    height:90px;
    width:250px;
    border-radius: 5px;
}

.tarjetasdeproductos{
    width: 500px;
    padding-bottom:50px;
}

    /* Shop */
    

    .bodyshop{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start; 
        align-content:center;
    }

    .shopimagenes{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

.shopimagenes p{
    font-size: 30px;
    text-align: center;
}

.figuras img{
    height: 180px;
    width: 200px;
}

.peluches img{
    height: 180px;
    width: 300px;
}

.indumentaria img{
    height: 180px;
    width: 200px;
}

.tecnologia img{
    height: 180px;
    width: 300px;
}

.libreria img{
    height: 180px;
    width: 300px;
}


.shoptitulo{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 50px;
    padding-top:30px;
}
/* Nosotros */
.nosotrostitulo h1{
    font-size: 45px;
    padding-top:180px;
    animation:none;
}

.nosotros{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding-top:20px;
    padding-left:0px;
    
}
    .cardimgtopnosotros{
        height:100px;
        width:120px;
    }

    .cardimgtopnosotros3{
        height:120px;
        width:100px;
    }

    .cardnos{
        display: flex;
        width:200px;
        justify-content: flex-end;
        align-items: center;
       /*  transition:none; */
    }
    .card-body1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tarjetasnosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.ubicacion{
    display:flex;
    align-items: center;
    padding:20px;
    justify-content: center;
}    
.ubicaciontitulo {
    text-align: center;
    font-family: cursive;
    padding-top:60px;
}
}
