*{
    margin:0px;
    padding:0px;
}

html {background-color: azure;
}

/*Header*/
header{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(187,187,244,0.835171568627451) 55%, rgba(250,211,254,1) 100%);
    position: fixed;  
    width:100vw;
    height:120px;
    z-index: 99;
}

.nav{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-left: 100px;
    height: 120px;
}

.searchbox{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}


.menu li{ 
    font-size: 20px;
    padding:0 10px;
}

.menu li a{
    text-decoration: none;
}

@keyframes logoheader{
    100% {animation:flip} /* creo que este keyframe está de más porque funciona
    aunque no esté */
}
.logoheader{
    width:80px;
    height:100px;
    position:absolute;  
    animation-name:logoheader;
    animation:pulse;
    animation-iteration-count:calc(2);
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
    padding-left: 15px;
    padding-top: 10px;
}

/* .menu li:hover ul{
    display:block;
} */
 

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(187,187,244,0.835171568627451) 55%, rgba(250,211,254,1) 100%); 
    width: 100vw;
    height: 10vw;
}

footer img {
    height: 30px;    
    width: 30px;
}

footer p{ 
    display:inline;
    padding:10px;
}

footer li a {
    text-decoration: none;
}

.listafooter{
list-style-type: none;
font-size: large;
font-weight: bold;
padding:30px;
}

footer div{
    height:32px;
    width: 170px;
   
}
footer li{
    display:inline-block
}

.footerlogo {
    height: 80px;
    width: 60px;
    
}

/* Index */

.titulomainindex h1 {
    text-align: center;
    color:#000000 ;
    font-size: 100px;
    font-family: cursive;
}

.titulomainindex{
    display:flex;
    flex-direction:row;
    align-items: flex-end;  
    justify-content: center;
    padding-top:120px;
    padding-bottom:25px;
}

.cuerpoprincipalindex{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.imagenfiguraindex{
    height:500px;
    width:450px;
    border-radius: 5px;
    }

.imagenindumentariaindex{
    height:500px;
    width:450px;
    border-radius: 5px;
    }   

.imagenpelucheindex{
        height:500px;
        width:450px;
        border-radius: 5px; 
    }

.imagentecnoindex{
    height:500px;
    width:450px;
    border-radius: 5px;
}

.imagenlibreriaindex{
    height:500px;
    width:450px;
    border-radius: 5px;
}

.tarjetasdeproductos{
    width: 0px;
    padding-bottom:50px;
}


    /* padding-top:50px; */
/* 
.paginaprincipal{ 
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 0.5fr 0.5fr 3fr 0.1fr;
grid-template-areas: 
"navegacion navegacion navegacion navegacion"
"titulo titulo titulo publicidad"
"carrousel carrousel carrousel publicidad"
"footer footer footer footer";
}

.header{
    grid-area: navegacion;
}

.titulomainindex{
    grid-area: titulo;
    align-self: start;
}

.cuerpoprincipalindex{
    grid-area: carrousel;
    display:flex;
    flex-direction: row;
    align-self: start;
    justify-self:center;
}

.publicidadindex{
    grid-area: publicidad;
}

.footer{
    grid-area: footer;
} */


/* La experiencia */

.laexperiencia h1{
    text-align: center;
    color:#000000 ;
    font-size: 100px;
    padding-top:152px;
    font-family: cursive;
}
.laexperiencia h2{
    text-align: center;
    color:#000000 ;
    font-size: 50px;
    font-family: cursive;
}
.fotoinfolocal img{
    height: 500px;
    width: 600px;
    border-radius: 5px;
    position: relative;
    left:250px;
    padding-top: 20px;
    padding-bottom:20px;
}

.fotoinfolocal p{
    position: absolute;
    top:570px;
    right:250px;
    height: 500px;
    width: 600px;
}

/* Shop */

.shoptitulo{
    text-align: center;
    font-family: cursive;
    position: relative;
    top:120px;
    font-size: 100px;

}

.titulocategoriashop {
    font-family: cursive;
    text-align: center;
}

.bodyshop{
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas:
    "navegacion"
    "shopimagenes"
    "footer";
    align-content: center;
}

.header{
    grid-area:navegacion
}

.footer{
    grid-area:footer
 }

.shopimagenes{
    grid-area:shopimagenes;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(5, 250px);
    column-gap: 10px;
    row-gap: 10px;
    padding: 100px 0px;
    justify-content: center;
    align-content:start;
    grid-template-areas: 
    "figuras figuras peluches peluches"
    "figuras figuras indumentaria indumentaria"
    "libreria libreria indumentaria indumentaria"
    "tecnologia tecnologia tecnologia tecnologia";
}

.figuras{
    grid-area:figuras;
    
}

.figuras img{
    height: 500px;
    width: 500px;
}

.peluches{
    grid-area:peluches;
}

.peluches img{
    height: 240px;
    width: 500px;
}

.indumentaria{
    grid-area:indumentaria;
}

.indumentaria img{
    height: 500px;
    width: 500px;
}
.tecnologia{
    grid-area: tecnologia;
}

.tecnologia img{
    height: 250px;
    width: 1025px;
}

.libreria{
    grid-area:libreria;
}

.libreria img{
    height: 240px;
    width: 500px;
}



/* Nosotros */

.nosotrostitulo h1{
    text-align: center;
    color:#000000 ;
    font-size: 80px;
    padding-top:152px;
    font-family: cursive;
}

.nosotros{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-left:50px;
    padding-top:20px;
    
}

    .card-img-top{
        height:150px;
        width:170px;
    }

    .card-img-top3{
        height:170px;
        width:150px;
    }

    .card1{
        border-style:dotted;
        border-color: blue;
        width:450px; 
        align-items: center;
    }

    .card-body1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

.ubicacion{
    display:flex;
    align-items: center;
    padding:20px;
    justify-content: center;
}    
.ubicaciontitulo {
    text-align: center;
    font-family: cursive;
    padding-top:60px;
}



@media screen and (max-width:768px) {

    /* Index */
    
.titulomainindex h1 {
    color:#000000 ;
    font-size: 60px;
    font-family: cursive;
    display: flex;
    align-items: center;
}

.carrouseldeimagenes{
    margin:0px;
    height:400px;
    padding-bottom:100px;
}
.carrouseldeimagenes img{
    display:flex;
    justify-content: center;
     }

.fotoscarrousel{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagenfiguraindex{
        height:500px;
        width:400px;
        border-radius: 5px;
        }
    
    .imagenindumentariaindex{
        height:500px;
        width:400px;
        border-radius: 5px;
        }   
    
    .imagenpelucheindex{
            height:500px;
            width:400px;
            border-radius: 5px; 
        }
    
    .imagentecnoindex{
        height:500px;
        width:400px;
        border-radius: 5px;
    }
    
    .imagenlibreriaindex{
        height:500px;
        width:400px;
        border-radius: 5px;
    }
.cuerpoprincipalindex{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tarjetasdeproductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
}

.searchbox{
    display:none;
}

/* .paginaprincipal{ 
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 0.5fr 0.5fr 3fr 0.1fr;
grid-template-areas: 
"navegacion navegacion navegacion navegacion"
"titulo titulo titulo publicidad"
"carrousel carrousel carrousel publicidad"
"footer footer footer footer";
} */

.header{
    position: fixed;  
    width:100vw;
    z-index: 99;
    grid-area: navegacion;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
}

/* .menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    position: relative;
    left: 200px;
} */

.menuheader li{
    font-size: 15px;
}
.titulomainindex{
    grid-area: titulo;
    align-self: center;
    padding-top:120px;
}

/* .cuerpoprincipalindex{
    grid-area: carrousel;
} */

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: 100vw;
    height: 15vw;
}

.footer li{
    font-size: 15px;
    padding:5px;
}
   
    /* Shop */
    

    .bodyshop{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start; 
        align-content:center;
    }

    .shopimagenes{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

.shopimagenes p{
    font-size: 50px;
    text-align: center;
}
.tecnologia img{
    height: 250px;
    width: 500px;
}

.shoptitulo{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 80px;
    padding-top:80px;
}

/* Nosotros */
.nosotrostitulo h1{
    text-align: center;
    color:#000000 ;
    font-size: 60px;
    padding-top:152px;
    font-family: cursive;
}

.nosotros{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding-top:20px;
    padding-left:0px;
    
}

    .card-img-top{
        height:150px;
        width:170px;
    }

    .card-img-top3{
        height:170px;
        width:150px;
    }

    .card1{
        display: flex;
        border-style:dotted;
        border-color: blue;
        width:400px;
        justify-content: center;
        align-items: center;
    }
    .card-body1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tarjetasnosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.ubicacion{
    display:flex;
    align-items: center;
    padding:20px;
    justify-content: center;
}    
.ubicaciontitulo {
    text-align: center;
    font-family: cursive;
    padding-top:60px;
}
}
@media screen and (max-width:320px) {

    /* Index */
    
.titulomainindex h1 {
    text-align: center;
    color:#000000 ;
    font-size: 45px;
    font-family: cursive;
    padding-top:80px;
}

.paginaprincipal{ 
display:flex;
flex-direction:column;
}

.header{
    position: fixed;
    height: 170px;  
    width:100vw;
    z-index: 99;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
  }

/* .menuheader{
    display:flex;
    flex-direction:row;

} */

.menuheader ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex;
    height: 170px;
}
.menuheader li{
     font-size: 11px;
}


.searchbox{
    display: none;
}

.carrouseldeimagenes{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;   
    justify-content: center;
    padding-bottom:10px;
    height:300px;
}

.imagenfiguraindex{
    height:90px;
    width:250px;
    border-radius: 5px;
    }

.imagenindumentariaindex{
    height:90px;
    width:250px;
    border-radius: 5px;
    }   

.imagenpelucheindex{
        height:90px;
        width:250px;
        border-radius: 5px; 
    }

.imagentecnoindex{
    height:90px;
    width:250px;
    border-radius: 5px;
}

.imagenlibreriaindex{
    height:90px;
    width:250px;
    border-radius: 5px;
}

.tarjetasdeproductos{
    width: 0px;
    padding-top:10px;
    padding-bottom:50px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content:space-between;
    align-items:center;
    width: 100vw;
    height: 60vw;
}

footer img {
    height: 30px;    
    width: 30px;
    padding:5px;
}

.footerredes{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.listafooter{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    font-size:10px;
}

.footer li{
    font-size: 10px;
    padding:5px;
}
    /* Shop */
    

    .bodyshop{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start; 
        align-content:center;
    }

    .shopimagenes{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

.shopimagenes p{
    font-size: 30px;
    text-align: center;
}

.figuras img{
    height: 180px;
    width: 200px;
}

.peluches img{
    height: 180px;
    width: 300px;
}

.indumentaria img{
    height: 180px;
    width: 200px;
}

.tecnologia img{
    height: 180px;
    width: 300px;
}

.libreria img{
    height: 180px;
    width: 300px;
}

/* .tecnologia img{
    height: 150px;
    width: 300px;
} */

.shoptitulo{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 50px;
    padding-top:30px;
}
/* Nosotros */
.nosotrostitulo h1{
    text-align: center;
    color:#000000 ;
    font-size: 45px;
    padding-top:180px;
    font-family: cursive;
}

.nosotros{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding-top:20px;
    padding-left:0px;
    
}

    .card-img-top{
        height:100px;
        width:120px;
    }

    .card-img-top3{
        height:120px;
        width:100px;
    }

    .card1{
        display: flex;
        border-style:dotted;
        border-color: blue;
        width:200px;
        justify-content: center;
        align-items: center;
    }
    .card-body1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tarjetasnosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.ubicacion{
    display:flex;
    align-items: center;
    padding:20px;
    justify-content: center;
}    
.ubicaciontitulo {
    text-align: center;
    font-family: cursive;
    padding-top:60px;
}
}