@charset "UTF-8";
.header {
  background: linear-gradient(90deg, white 0%, rgba(187, 187, 244, 0.835172) 55%, #fad3fe 100%);
  position: fixed;
  width: 100vw;
  max-width: 100%;
  height: 120px;
  z-index: 99; }
  .header .menuheader {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-left: 100px;
    height: 120px;
    align-items: flex-end; }
    .header .menuheader .nav-tabs {
      display: flex;
      align-items: flex-end; }
      .header .menuheader .nav-tabs li {
        font-size: 20px;
        padding: 0 10px; }
        .header .menuheader .nav-tabs li a {
          text-decoration: none; }
        .header .menuheader .nav-tabs li .submenu {
          display: none;
          position: absolute; }
          .header .menuheader .nav-tabs li .submenu li {
            display: block;
            background-color: white; }
      .header .menuheader .nav-tabs .nav-item:hover ul {
        display: block; }
  .header .botonerahamburguesa1 {
    display: none; }
    .header .botonerahamburguesa1 .shoppingcartgif2 {
      width: 90px;
      height: 70px;
      transform: rotateY(180deg); }
    .header .botonerahamburguesa1 .botonerahamburguesa2 {
      height: 100px;
      width: 95px; }
    .header .botonerahamburguesa1 .botonerahamburguesa3 .navbar-toggler {
      background-color: #9db6f1; }
    .header .botonerahamburguesa1 .menuhamburguesa .menuhamburguesa1 .menuhamburguesalista1 .menuhamburguesalista2 {
      background-color: white;
      opacity: 70%;
      width: 50vw;
      padding: 0px; }
      .header .botonerahamburguesa1 .menuhamburguesa .menuhamburguesa1 .menuhamburguesalista1 .menuhamburguesalista2 li {
        list-style: none;
        border-top: solid;
        border-color: #9db6f1;
        display: block;
        font-size: 25px; }
        .header .botonerahamburguesa1 .menuhamburguesa .menuhamburguesa1 .menuhamburguesalista1 .menuhamburguesalista2 li a {
          text-decoration: none; }
        .header .botonerahamburguesa1 .menuhamburguesa .menuhamburguesa1 .menuhamburguesalista1 .menuhamburguesalista2 li .submenuhamburguesa {
          display: none; }
          .header .botonerahamburguesa1 .menuhamburguesa .menuhamburguesa1 .menuhamburguesalista1 .menuhamburguesalista2 li .submenuhamburguesa li {
            display: block;
            font-size: 25px; }
      .header .botonerahamburguesa1 .menuhamburguesa .menuhamburguesa1 .menuhamburguesalista1 .menuhamburguesalista2 .menuhambshop:hover ul {
        display: block; }
  .header .logoheader {
    width: 80px;
    height: 100px;
    position: absolute;
    animation-name: logoheader;
    animation: tada;
    animation-iteration-count: calc(5);
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
    padding-left: 15px;
    padding-top: 10px; }
  .header .searchbox {
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: flex-end; }

@keyframes carritocompras {
  0% {
    right: -0px; }
  100% {
    right: -500px; } }
  .header .shoppingcartgif {
    position: relative;
    right: -0px;
    width: 90px;
    height: 70px;
    transform: rotateY(180deg);
    animation-name: carritocompras;
    animation-iteration-count: calc(1);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-delay: 1s; }

.footercuerpo {
  padding: 0%; }
  .footercuerpo .footerrow {
    margin: 0%;
    width: 100%; }
    .footercuerpo .footerrow footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(90deg, white 0%, rgba(187, 187, 244, 0.835172) 55%, #fad3fe 100%);
      width: 100vw;
      height: 10vw;
      padding: 0px; }
      .footercuerpo .footerrow footer nav {
        display: inline;
        padding: 0px; }
        .footercuerpo .footerrow footer nav .listafooter {
          list-style-type: none;
          font-size: large;
          font-family: 'Indie Flower', cursive;
          font-weight: bold;
          display: flex;
          flex-direction: row; }
          .footercuerpo .footerrow footer nav .listafooter li {
            padding-left: 25px; }
            .footercuerpo .footerrow footer nav .listafooter li a {
              text-decoration: none; }
      .footercuerpo .footerrow footer .footerredes img {
        height: 30px;
        width: 30px; }
      .footercuerpo .footerrow footer .footerlogo {
        height: 80px;
        width: 70px;
        padding-left: 10px; }

.paginaprincipal .rowparatitulo {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0px; }
  .paginaprincipal .rowparatitulo .titulomainindex {
    width: 1000px;
    padding-top: 125px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    animation: rubberBand;
    animation-iteration-count: calc(3);
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s; }
    .paginaprincipal .rowparatitulo .titulomainindex .tituloformatomain {
      text-align: center;
      color: #9db6f1;
      font-size: 100px;
      font-family: 'Rubik Puddles', cursive; }
  .paginaprincipal .rowparatitulo .cuerpoprincipalindex {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex .tarjetasdeproductos1 {
      width: 0px;
      padding-right: 50px;
      padding-bottom: 50px;
      width: fit-content; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel {
      width: 40%; }
      .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel .carrouseldeimagenes {
        max-width: 100%;
        padding-bottom: 30px; }
        .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel .carrouseldeimagenes .carousel-inner .imagenfiguraindex {
          width: 100%;
          height: 100%; }
        .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel .carrouseldeimagenes .carousel-inner .imagenindumentariaindex {
          width: 100%;
          height: 100%; }
        .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel .carrouseldeimagenes .carousel-inner .imagenpelucheindex {
          width: 100%;
          height: 100%; }
        .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel .carrouseldeimagenes .carousel-inner .imagenlibreriaindex {
          width: 100%;
          height: 100%; }
        .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel .carrouseldeimagenes .carousel-inner .imagentecnoindex {
          width: 100%;
          height: 100%; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex .tarjetasdeproductos2 {
      width: 0px;
      padding-left: 50px;
      padding-bottom: 50px;
      width: fit-content; }

.paginaprincipal .slidermarcas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%; }
  .paginaprincipal .slidermarcas .slidermarcas2 {
    position: relative;
    left: 0px;
    width: 1500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    animation: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 2s; }
    .paginaprincipal .slidermarcas .slidermarcas2 li {
      padding-left: 20px; }

.carritomain {
  display: flex;
  justify-content: space-around;
  max-width: 100%; }
  .carritomain .carritotitulo {
    max-width: 1000px;
    padding-top: 125px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .carritomain img {
    height: 80px;
    width: 60px; }
  .carritomain .tucarrito {
    padding-top: 50px;
    padding-bottom: 300px;
    height: 100%; }

.maincontacto {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  max-width: 100%;
  margin: 0%;
  padding: 0px; }
  .maincontacto .imagenymensajecontacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-style: groove;
    border-color: #9eb7f1;
    max-width: 80%; }
    .maincontacto .imagenymensajecontacto .imagencontacto {
      height: 120px;
      width: 150px;
      padding-right: 10px; }
    .maincontacto .imagenymensajecontacto .mensajecontacto {
      display: flex;
      padding-top: 50px;
      padding-bottom: 50px;
      justify-content: space-evenly;
      max-width: 100%; }
  .maincontacto .datosymapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    padding: 0px; }
    .maincontacto .datosymapa .datoscontacto {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .maincontacto .datosymapa .ubicacioncontacto {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-items: center; }
      .maincontacto .datosymapa .ubicacioncontacto .ubicaciontitulocontacto {
        text-align: center;
        color: #9eb7f1;
        font-weight: bolder;
        font-family: 'Indie Flower', cursive;
        padding-top: 60px;
        max-width: 100%; }
        .maincontacto .datosymapa .ubicacioncontacto .ubicaciontitulocontacto .ubicacionmapacontacto {
          max-width: 100%;
          display: flex;
          justify-content: center;
          justify-content: center; }
      .maincontacto .datosymapa .ubicacioncontacto .datosdecontactoredes {
        display: flex;
        flex-direction: row; }

.cuerpoprincipalnosotros {
  max-width: 100%;
  width: fit-content;
  padding: 0px; }
  .cuerpoprincipalnosotros .rowparatitulonos {
    display: flex;
    justify-content: space-around;
    max-width: 100%; }
    .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros {
      width: fit-content; }
      .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 50px;
        padding-top: 20px; }
        .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos {
          background-image: url(../multimedia/Nosotros/FondoDeTarjetasNosotros.png);
          border-style: groove;
          border-color: rgba(136, 136, 252, 0.541);
          width: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: fit-content; }
          .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .cardimgtopnosotros {
            height: 150px;
            width: 170px;
            margin: 0px;
            display: flex;
            align-self: center; }
          .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .cardimgtopnosotros3 {
            height: 170px;
            width: 150px; }
          .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .card-body1 {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .card-body1 .cardtextnos {
              text-align: center; }
          .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .cardfooternosotros {
            width: 450px;
            background-color: #9eb7f154;
            height: 30px; }
  .cuerpoprincipalnosotros .ubicacion {
    max-width: 100%; }
    .cuerpoprincipalnosotros .ubicacion .ubicaciontitulo h2 {
      text-align: center;
      color: #9eb7f1;
      font-weight: bolder;
      font-family: 'Indie Flower', cursive;
      padding-top: 60px;
      max-width: 100%; }
    .cuerpoprincipalnosotros .ubicacion .ubicacionmapa {
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;
      justify-content: center; }

.bodyshop .mainshop {
  display: flex;
  justify-content: space-around;
  max-width: 100%; }
  .bodyshop .mainshop .rowshop {
    display: flex;
    justify-content: center; }
    .bodyshop .mainshop .rowshop .shopimagenes {
      display: grid;
      grid-template-columns: repeat(3, 250px);
      grid-template-rows: repeat(5, 250px);
      column-gap: 10px;
      row-gap: 30px;
      padding: 30px 0px;
      justify-content: center;
      align-content: start;
      grid-template-areas: "figuras figuras peluches peluches" "figuras figuras indumentaria indumentaria" "libreria libreria indumentaria indumentaria" "tecnologia tecnologia tecnologia tecnologia"; }
      .bodyshop .mainshop .rowshop .shopimagenes .figuras {
        grid-area: figuras; }
        .bodyshop .mainshop .rowshop .shopimagenes .figuras .titulocategoriashop {
          text-align: center;
          color: #5180f0;
          font-weight: bolder;
          font-family: 'Indie Flower', cursive; }
        .bodyshop .mainshop .rowshop .shopimagenes .figuras .imagenshopfiguras {
          height: 500px;
          width: 500px; }
      .bodyshop .mainshop .rowshop .shopimagenes .peluches {
        grid-area: peluches; }
        .bodyshop .mainshop .rowshop .shopimagenes .peluches .titulocategoriashop {
          text-align: center;
          color: #5180f0;
          font-weight: bolder;
          font-family: 'Indie Flower', cursive; }
        .bodyshop .mainshop .rowshop .shopimagenes .peluches .imagenshoppeluches {
          height: 190px;
          width: 500px; }
      .bodyshop .mainshop .rowshop .shopimagenes .indumentaria {
        grid-area: indumentaria; }
        .bodyshop .mainshop .rowshop .shopimagenes .indumentaria .titulocategoriashop {
          text-align: center;
          color: #5180f0;
          font-weight: bolder;
          font-family: 'Indie Flower', cursive; }
        .bodyshop .mainshop .rowshop .shopimagenes .indumentaria .imagenshopindumentaria {
          height: 520px;
          width: 500px; }
      .bodyshop .mainshop .rowshop .shopimagenes .tecnologia {
        grid-area: tecnologia; }
        .bodyshop .mainshop .rowshop .shopimagenes .tecnologia .titulocategoriashop {
          text-align: center;
          color: #5180f0;
          font-weight: bolder;
          font-family: 'Indie Flower', cursive;
          padding-top: 10px; }
        .bodyshop .mainshop .rowshop .shopimagenes .tecnologia .imagenshoptecnologia {
          height: 220px;
          width: 1025px; }
      .bodyshop .mainshop .rowshop .shopimagenes .libreria {
        grid-area: libreria; }
        .bodyshop .mainshop .rowshop .shopimagenes .libreria .titulocategoriashop {
          text-align: center;
          color: #5180f0;
          font-weight: bolder;
          font-family: 'Indie Flower', cursive; }
        .bodyshop .mainshop .rowshop .shopimagenes .libreria .imagenshoplibreria {
          height: 240px;
          width: 500px; }

.mainshoplibreria {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainshoplibreria .conjuntotarjetaslibreria {
    display: flex;
    justify-content: center; }
    .mainshoplibreria .conjuntotarjetaslibreria .col {
      width: 400px;
      display: flex;
      justify-content: center;
      padding: 10px; }
      .mainshoplibreria .conjuntotarjetaslibreria .col .card .btn-primary {
        background-color: #9db6f1;
        border-color: #9db6f1; }
      .mainshoplibreria .conjuntotarjetaslibreria .col .card .card-body .card-text {
        text-align: center; }

.shoptitulo {
  max-width: 1000px;
  padding-top: 125px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  animation: rubberBand;
  animation-iteration-count: calc(3);
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s; }
  .shoptitulo h1 {
    text-align: center;
    color: #9db6f1;
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive; }

.nosotrostitulo {
  max-width: 1000px;
  padding-top: 125px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  animation: rubberBand;
  animation-iteration-count: calc(3);
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s; }
  .nosotrostitulo h1 {
    text-align: center;
    color: #9db6f1;
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive; }

.laexperienciatitulo {
  max-width: 1000px;
  padding-top: 125px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  animation: rubberBand;
  animation-iteration-count: calc(3);
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s; }
  .laexperienciatitulo h1 {
    text-align: center;
    color: #9db6f1;
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive; }

.contactotitulo {
  max-width: 1000px;
  padding-top: 125px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  animation: rubberBand;
  animation-iteration-count: calc(3);
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s; }
  .contactotitulo h1 {
    text-align: center;
    color: #9db6f1;
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive; }

.carritotitulo h1 {
  text-align: center;
  color: #9db6f1;
  font-size: 100px;
  font-family: 'Rubik Puddles', cursive; }

.shoplibreriatitulo {
  max-width: 1000px;
  padding-top: 125px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  animation: rubberBand;
  animation-iteration-count: calc(3);
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s; }
  .shoplibreriatitulo h1 {
    text-align: center;
    color: #9db6f1;
    font-size: 100px;
    font-family: 'Rubik Puddles', cursive; }

@media screen and (max-width: 1840px) {
  .paginaprincipal .slidermarcas {
    display: none; } }

@media screen and (max-width: 1824px) {
  .shoppingcartgif {
    animation-play-state: paused; } }

@media screen and (max-width: 1688px) {
  /* Nosotros */
  .cuerpoprincipalnosotros {
    width: 100%; }
    .cuerpoprincipalnosotros .rowparatitulonos {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .cuerpoprincipalnosotros .rowparatitulonos .nosotrostitulo {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 60px;
        padding-top: 152px; }
      .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros {
        padding-left: 0px;
        padding-right: 0px; }
        .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros {
          display: flex;
          flex-direction: column;
          align-content: center;
          padding-top: 20px;
          padding-left: 0px;
          padding-right: 0px; }
          .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros {
            padding-left: 0px;
            padding-right: 0px;
            width: 450px; }
  .ubicacion {
    max-width: 100%; }
    .ubicacion .ubicaciontitulo h2 {
      text-align: center;
      color: #9eb7f1;
      font-weight: bolder;
      font-family: 'Indie Flower', cursive;
      padding-top: 60px;
      max-width: 100%; }
    .ubicacion .ubicacionmapa {
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;
      justify-content: center; }
  /* Contacto */
  .maincontacto {
    margin: 0px;
    max-width: 100vw; }
    .maincontacto .contactotitulo {
      width: 60%; }
    .maincontacto .imagenymensajecontacto {
      display: flex;
      flex-direction: column; }
      .maincontacto .imagenymensajecontacto .mensajecontacto {
        display: flex;
        flex-direction: column;
        width: 70%; }
    .maincontacto .datosymapa {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 50px; } }

@media screen and (max-width: 1332px) {
  .searchbox {
    display: none; }
  .shoppingcartgif {
    position: relative;
    right: 0px; } }

@media screen and (max-width: 1158px) {
  /* Header */
  .header {
    display: flex;
    align-items: center; }
    .header .headerrow {
      display: none; }
    .header .botonerahamburguesa1 {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .header .botonerahamburguesa1 .botonerahamburguesa3 {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .header .botonerahamburguesa1 .botonerahamburguesa3 .menuhamburguesa {
          padding-top: 100px; }
          .header .botonerahamburguesa1 .botonerahamburguesa3 .menuhamburguesa .menuhamburguesalista2 {
            display: flex;
            flex-direction: column;
            position: absolute; }
  /* Index */
  .paginaprincipal .rowparatitulo .cuerpoprincipalindex {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel {
      width: 70vw;
      order: -1; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex .tarjetasdeproductos1 {
      padding: 0px; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex .tarjetasdeproductos2 {
      padding-left: 0px;
      padding-bottom: 30px; } }

@media screen and (max-width: 1100px) {
  /* Shop */
  .bodyshop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center; }
    .bodyshop .mainshop .rowshop .shoptitulo {
      padding-top: 135px; }
      .bodyshop .mainshop .rowshop .shoptitulo h1 {
        font-size: 80px; }
    .bodyshop .mainshop .rowshop .shopimagenes {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .bodyshop .mainshop .rowshop .shopimagenes .tecnologia .imagenshoptecnologia {
        height: 100px;
        width: 500px; } }

@media screen and (max-width: 828px) {
  /* Header */
  .shoppingcartgif {
    display: none; } }

@media screen and (max-width: 768px) {
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    max-width: 100%;
    height: fit-content; }
    .footer .listafooter {
      display: flex;
      flex-direction: column; }
      .footer .listafooter li {
        font-size: 15px;
        padding: 5px; }
  /* Index */
  .paginaprincipal .divindex .rowparatitulo .titulomainindex .tituloformatomain {
    padding-top: 60px;
    font-size: 80px; }
  .paginaprincipal .slidermarcas {
    display: none; }
  /* Contacto */
  .maincontacto .contactotitulo {
    padding-top: 200px; }
  /* Carrito */
  .carritomain .carritotitulo {
    padding-top: 150px; } }

@media screen and (max-width: 650px) {
  /* Contacto */
  .maincontacto .contactotitulo h1 {
    font-size: 80px; }
  .maincontacto .datosymapa .ubicacioncontacto .ubicacionmapacontacto .mapa {
    width: 90%; }
  /* Footer */
  .footercuerpo .footerrow .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    height: fit-content; }
    .footercuerpo .footerrow .footer .navfooter .listafooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 10px;
      padding: 0px; }
      .footercuerpo .footerrow .footer .navfooter .listafooter li {
        font-size: 10px;
        padding: 5px; }
  .footercuerpo .footerrow .footerredes img {
    display: inline;
    height: 30px;
    width: 30px;
    padding: 5px; } }

@media screen and (max-width: 544px) {
  /* /* Nosotros */
  .cuerpoprincipalnosotros .rowparatitulonos .nosotrostitulo {
    padding-top: 152px; }
    .cuerpoprincipalnosotros .rowparatitulonos .nosotrostitulo h1 {
      font-size: 90%; }
  .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros {
    width: 60%; }
    .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos {
      width: 100%; }
      .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .card-body1 .cardtextnos {
        width: 100%; }
      .cuerpoprincipalnosotros .rowparatitulonos .secciontarjetasnosotros .nosotros .tarjetasnosotros .cardnos .cardfooternosotros {
        width: 100%; }
  /* Contacto */
  .maincontacto .contactotitulo h1 {
    font-size: 50px; }
  .carritotitulo h1 {
    font-size: 70px; } }

@media screen and (max-width: 428px) {
  .carritomain .carritotitulo {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 428px) {
  /* Shop librería */
  .conjuntotarjetaslibreria {
    width: 80%; } }

@media screen and (max-width: 375px) {
  /* Shop */
  .bodyshop .mainshop .rowshop .shopimagenes .figuras .imagenshopfiguras {
    height: 200px;
    width: 200px; }
  .bodyshop .mainshop .rowshop .shopimagenes .peluches .imagenshoppeluches {
    height: 100px;
    width: 250px; }
  .bodyshop .mainshop .rowshop .shopimagenes .indumentaria .imagenshopindumentaria {
    height: 200px;
    width: 200px; }
  .bodyshop .mainshop .rowshop .shopimagenes .tecnologia .imagenshoptecnologia {
    height: 200px;
    width: 200px; }
  .bodyshop .mainshop .rowshop .shopimagenes .libreria .imagenshoplibreria {
    height: 100px;
    width: 250px; }
  .bodyshop .mainshop .rowshop .shopimagenes .tecnologia .imagenshoptecnologia {
    height: 50px;
    width: 250px; }
  /* Nosotros */
  .nosotrostitulo h1 {
    font-size: 80%; } }

@media screen and (max-width: 360px) {
  /* Contacto */
  .maincontacto .contactotitulo h1 {
    font-size: 40px; }
  .maincontacto .datosymapa .datoscontacto p {
    text-align: center; }
  .maincontacto .datosymapa .datoscontacto .datosdecontactoredes {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 320px) {
  /* Header */
  .menuhamburguesa1 {
    display: contents; }
    .menuhamburguesa1 .menuhamburguesalista2 {
      padding: 0px; }
  /* Index */
  .paginaprincipal .rowparatitulo {
    margin: 0px; }
    .paginaprincipal .rowparatitulo .titulomainindex {
      max-width: 100%; }
      .paginaprincipal .rowparatitulo .titulomainindex .tituloformatomain {
        text-align: center;
        padding-top: 120px; }
    .paginaprincipal .rowparatitulo .cuerpoprincipalindex {
      padding: 0px; }
      .paginaprincipal .rowparatitulo .cuerpoprincipalindex .fotoscarrousel {
        width: 90%; }
  .paginaprincipal .tarjetasdeproductos {
    padding-bottom: 50px; }
    .paginaprincipal .tarjetasdeproductos .cardindex {
      max-width: 200px; }
  /* Carrito */
  .cuerpocarrito .carritomain .carritotitulo .titulocarritoh1 {
    font-size: 20px; } }
